$primary-dark: #8ecdff;
$on-primary-dark: #00344f;
$primary-container-dark: #004b70;
$on-primary-container-dark: #cae6ff;
$secondary-dark: #ecc248;
$on-secondary-dark: #3d2e00;
$secondary-container-dark: #584400;
$on-secondary-container-dark: #ffe08f;
$tertiary-dark: #4fd8eb;
$on-tertiary-dark: #00363d;
$tertiary-container-dark: #004f58;
$on-tertiary-container-dark: #97f0ff;
$error-dark: #ffb4ab;
$error-container-dark: #93000a;
$on-error-dark: #690005;
$on-error-container-dark: #ffdad6;
$background-dark: #001f25;
$on-background-dark: #a6eeff;
$surface-dark: #001f25;
$on-surface-dark: #a6eeff;
$surface-variant-dark: #41474d;
$on-surface-variant-dark: #c1c7ce;
$outline-dark: #8b9198;
$inverse-on-surface-dark: #001f25;
$inverse-surface-dark: #a6eeff;
$inverse-primary-dark: #006494;
$shadow-dark: #000000;
$surface-tint-dark: #8ecdff;
$outline-variant-dark: #41474d;
$scrim-dark: #000000;