$primary-light: #006494;
$on-primary-light: #ffffff;
$primary-container-light: #cae6ff;
$on-primary-container-light: #001e30;
$secondary-light: #755b00;
$on-secondary-light: #ffffff;
$secondary-container-light: #ffe08f;
$on-secondary-container-light: #241a00;
$tertiary-light: #006874;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #97f0ff;
$on-tertiary-container-light: #001f24;
$error-light: #ba1a1a;
$error-container-light: #ffdad6;
$on-error-light: #ffffff;
$on-error-container-light: #410002;
$background-light: #f8fdff;
$on-background-light: #001f25;
$surface-light: #f8fdff;
$on-surface-light: #001f25;
$surface-variant-light: #dde3ea;
$on-surface-variant-light: #41474d;
$outline-light: #72787e;
$inverse-on-surface-light: #d6f6ff;
$inverse-surface-light: #00363f;
$inverse-primary-light: #8ecdff;
$shadow-light: #000000;
$surface-tint-light: #006494;
$outline-variant-light: #c1c7ce;
$scrim-light: #000000;
